<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoqin.shopsystem.mapper.UserMapper">

    <select resultType="com.zhaoqin.shopcommon.entity.User" id="queryUser" parameterType="String">
        select * from  user
        <where>
            <choose>
                <when test="username != null and username != '' and password != null and password != ''">
                    user_name = #{username} and password = #{password}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>