<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoqin.shopseckill.mapper.GoodMapper">

    <!-- 获取所有的商品-->
    <select id="getGoodList" resultType="com.zhaoqin.shopcommon.bo.GoodsBo">
      select
            goods.id id,
            goods_name goodsName,
            goods_title goodsTitle,
            goods_img goodsImg,
            goods_detail goodsDetail,
            goods_price goodsPrice,
            goods_stock goodsStock,
            create_date createDate,
            update_date updateDate,
		    seckill_goods.seckil_price seckillPrice,
		    stock_count stockCount


        from goods left join seckill_goods
        on goods.id = seckill_goods.goods_id

    </select>

    <select id="getGood" parameterType="String" resultType="com.zhaoqin.shopcommon.entity.Goods">
        select
             goods.id id,
            goods_name goodsName,
            goods_title goodsTitle,
            goods_img goodsImg,
            goods_detail goodsDetail,
            goods_price goodsPrice,
            goods_stock goodsStock,
            create_date createDate,
            update_date updateDate
        from goods
        <where>
            <choose>
                <when test="goodId != null and goodId != ''">
                    id = #{goodId}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>

    </select>

    <!--新增信息，并拿到新增信息的表主键信息。
       新增数据，得到主键的外层写法没什么特别，跟普通的insert一样。只不过里面加了selectKey-->
    <insert id="insertAndgetkey" parameterType="com.soft.mybatis.model.User">
        <!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，
            keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应
            order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，
                  BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，
                        这种适合那种主键不是自增的类型
            resultType 主键类型 -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user (username,password,create_date) values(#{username},#{password},#{createDate})
    </insert>

    string wildcardname = “%smi%”;
    list<name> names = mapper.selectlike(wildcardname);

    <select id=”selectlike”>
        select * from foo where bar like #{value}
    </select>


    string wildcardname = “smi”;
    list<name> names = mapper.selectlike(wildcardname);

    <select id=”selectlike”>
         select * from foo where bar like "%"${value}"%"
    </select>


    PreparedStatement pstmt = con.prepareStatement("UPDATE EMPLOYEES
    SET SALARY = ? WHERE ID = ?");
    pstmt.setBigDecimal(1, 153833.00)
    pstmt.setInt(2, 110592)
</mapper>