<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoqin.shopseckill.mapper.OrderMapper">

   <insert id="insert" parameterType="com.zhaoqin.shopcommon.entity.OrderInfo"
           keyProperty="id" useGeneratedKeys="true">
       insert into order_info(user_id, goods_id) values(#{userId},#{goodsId})
   </insert>


</mapper>