<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoqin.shopseckill.mapper.SeckillGoodMapper">

    <select id="getSeckillGood" parameterType="long" resultType="com.zhaoqin.shopcommon.entity.SeckillGoods">
        select
              id id,
              good_id goodsId,
              seckil_price seckilPrice,
              stock_count stockCount,
              start_date startDate,
              end_date endDate
        from seckill_goods
        <where>
            <choose>
                <when test="seckillGoodId != null and seckillGoodId != ''">
                    id = #{seckillGoodId}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>

    </select>


</mapper>