<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" src="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel=stylesheet src="/static/css/good.css"/>

</head>
<body>

<div class="seckill_content">
    <div class="title"><h2>秒杀商品列表</h2></div>


    <div class="all_seckill_goods">

        <div>
            <span><span id="username"></span></span>
            <span id="address">没有收货地址的提示。。。</span>
        </div>
        <form>

        <div class="seckill_goods" id="goodList">
            <h4 id="goodname"></h4>
            <img id="img" src="" width="250"/>
            <br/><br/>
            <div class="seckill_price">
                <span id="goodtitle"></span>
                <p>
                    秒杀价格:<span class="price1" id="seckillprice"></span>
                    原本价格:<del><span class="price2" id="goodprice"></span></del>
                    仅剩数量:<span class="price1" id="stock_count"></span>
                </p>
                <br/>
                    <a class="btn btn-default" type="submit" id = "dump">立即秒杀</a>
            </div>
        </div>
        </form>
    </div>

</div>
</body>
<!-- jquery-validator -->
<script type="text/javascript" src="/static/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/jquery-validation/localization/messages_zh.min.js"></script>
<!-- layer -->
<script type="text/javascript" src="/static/layer/layer.js"></script>
<!-- md5.js -->
<script type="text/javascript" src="/static/js/md5.min.js"></script>
<!-- common.js -->
<script type="text/javascript" src="/static/js/common.js"></script>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/product/common/alljs/web.js"></script>
<script type="text/javascript" src="/static/templates/goodlist.js"></script>
<script>
    layui.config({
        base : basePath, //静态资源所在路径
        version: new Date().getTime()
    }).extend({
        index : indexPath, //主入口模块
    }).use(['index','baseUtil',"autotable"],goodlist);
</script>
</html>
